{
  "useTabs": false,
  "singleQuote": false,
  "trailingComma": "none",
  "printWidth": 880,
  "endOfLine": "lf",
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-tailwindcss"
  ],
  "pluginSearchDirs": false,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte",
        "svelteIndentScriptAndStyle": true,
        "svelteStrictMode": false,
        "svelteSortOrder": "scripts-markup-styles-options",
        "svelteBracketNewLine": false
      }
    },
    {
      "files": "*.md",
      "options": {
        "tabWidth": 2,
        "useTabs": false,
        "printWidth": 79
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "html"
      }
    },
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ],
  "bracketSameLine": true
}